.jumbotron {
    width: 100%;
    background-image: url("images/hero-image.jpg");
    background-repeat: no-repeat;
    height: 800px; 
}

.jumbotrontext {
    width: 400px;
    margin: 100px, 0px, 100px, 50px;
    color: white;
    font-size: 30px;
}