#weekdisplay  {
    width: 80%;
    margin: 40px auto;
}

.modal-list {
    margin-top: 20px;
}

.modal-checkbox {
    margin: 5px;
}

.card-topper {
    background-color: #3498DB;
}

.card-footer {
    background-color: #D6EAF8
}

.footer-bigger {
    height: 60px;
}